<h1>Welcome to RS platform,<br/> {{name}}</h1>
<p>We're so happy that you've joined us.</p>
<p>Here's a quick summary about how to get the most out of your RS platform experience.</p>
<p>Just one more step: please confirm your email address.</p>
<p>If you're ever locked out of your account, this will help us to get you back in.</p>
<p>
    <b>Username: </b> {{username}}
</p>
<p>
    <b>Password: </b> {{password}}
</p>
<br/>
<table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse">
  <tbody>
    <tr>
      <td style="border-collapse:collapse;border-radius:3px;text-align:center;display:block;border:solid 1px #002768;padding:10px 16px 14px 16px;margin:0 2px 0 auto;min-width:80px;background-color:#002768">
        <a href="{{link}}" style="color:#3b5998;text-decoration:none;display:block" target="_blank">
          <center>
            <font size="3">
              <span style="font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;white-space:nowrap;font-weight:bold;vertical-align:middle;color:#fdfdfd;font-size:16px;line-height:16px">
                Confirm&nbsp;your&nbsp;email&nbsp;address
              </span>
            </font>
          </center>
        </a>
      </td>
    </tr>
  </tbody>
</table>
