<h1>Hello,<br/> {{name}}</h1>
<p>Please click on button below to reset your passwrod.</p>

<br/>
<table cellspacing="0" cellpadding="0" width="100%" style="border-collapse:collapse">
  <tbody>
    <tr>
      <td style="border-collapse:collapse;border-radius:3px;text-align:center;display:block;border:solid 1px #002768;padding:10px 16px 14px 16px;margin:0 2px 0 auto;min-width:80px;background-color:#002768">
        <a href="{{link}}" style="color:#3b5998;text-decoration:none;display:block" target="_blank">
          <center>
            <font size="3">
              <span style="font-family:Helvetica Neue,Helvetica,Roboto,Arial,sans-serif;white-space:nowrap;font-weight:bold;vertical-align:middle;color:#fdfdfd;font-size:16px;line-height:16px">
                Reset&nbsp;your&nbsp;password&nbsp;
              </span>
            </font>
          </center>
        </a>
      </td>
    </tr>
  </tbody>
</table>
